.price__original,
.price__discount {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.price__original {
  color: var(--dark);
}

.price__discount {
  text-decoration-line: line-through;
  color: var(--bg-secondary);
}