input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--light);
  margin: 0;
  appearance: none;
  font: inherit;
  width: 20px;
  height: 20px;
  border: 3px solid var(--dark);
  border-radius: 2px;
  display: grid;
  place-content: center;
  transform: translateY(-9px);
}

.checkbox__value {
  display: flex;
  align-items: flex-end;
}

.checkbox__value > input {
  margin-right: 25px;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--dark);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}