/* style for product list */
.productList__normal {
  width: 384px;
  margin: 100px 70px 188px 0;
  background: var(--light);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.productList__medium {
  width: 368px;
  border-radius: 20px;
  margin: 50px 85px 164px 0;
  background: var(--light);
}

.productList__medium--box {
  width: 368px;
  background: var(--light);
  border-radius: 10px;
  margin: 0 80px 159px 0;
  box-shadow: 0px 16px 70px var(--box-first);
}

/* style for card in product list */
.cart__link {
  text-decoration: none;
  color: var(--text-primary);
}

.card__discount {
  padding: 59px 0 60px 44px;
}

.card__quantity {
  padding: 57px 0 15px 40px;
}

.card__unit {
  margin: 9px 0 14px;
  color: var(--bg-secondary);
}

.card__image {
  width: 368px;
  height: 288px;
}

.card__item--offers,
.card__item--selling,
.card__item--popular {
  display: flex;
  flex-wrap: wrap;
}

.card__item--offers {
  margin: 33px 0 0 90px;
}

.card__item--selling,
.card__item--popular {
  padding-left: 100px;
}

.card__counter {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 18px;
}

.cardOffersList__title {
  margin: 33px 0 0 130px
}

.cardPopular__title {
  margin: 205px 0 44px 103px
}

.cardProductSelling__title {
  padding: 84px 0 49px 125px;
}

.cardProductSellingList {
  background: var(--bg-light);
}