.nav {
  display: flex;
  position: relative;
  z-index: 20;
  justify-content: space-between;
  align-items: center;
  padding: 0 110px 0 162px;
}

.nav__about {
  display: flex;
  align-items: center;
  margin: 32px;
}