@font-face {
  font-family: 'icomoon';
  src:  url(../../../assets/fonts/icomoon.eot?8d3ob1);
  src:  url(../../../assets/fonts/icomoon.eot?8d3ob1#iefix) format('embedded-opentype'),
    url(../../../assets/fonts/icomoon.ttf?8d3ob1) format('truetype'),
    url(../../../assets/fonts/icomoon.woff?8d3ob1) format('woff'),
    url(../../../assets/fonts/icomoon.svg?8d3ob1#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e901";
  color: var(--light);
}
.icon-twitter:before {
  content: "\e902";
  color: var(--light);
}
.icon-fb:before {
  content: "\e903";
  color: var(--light);
}
.icon-filter:before {
  content: "\e904";
  color: var(--light);
}
.icon-plus:before {
  content: "\e905";
  color: var(--text-primary);
}
.icon-cart:before {
  content: "\e906";
  color: var(--text-primary);
  font-size: 40px;
}
.icon-minus:before {
  content: "\e907";
  color: var(--text-primary);
}