.shopPage__heading {
  margin: 100px 0 70px 443px;
  font-size: 24px;
  line-height: 36px;
  color: var(--text-third);
}

.shopPage__info {
  display: flex;
}

.shopPage__select {
  background: var(--bg-light);
}

.shopPage__title {
  padding: 32px 198px 47px 98px;
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  color: var(--text-primary);
}

.shopPage__product {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
}

.shopPage__button {
  position: relative;
  margin: 107px 0 0 91px;
}