.counter {
  position: relative;
  z-index: 15;
  width: 205px;
}

.counter__input {
  border: 1px solid var(--border-primary);
  border-radius: 24.5px;
  text-align: center;
  padding: 14px;
}

.counter__minus {
  position: absolute;
  z-index: 20;
  top: 33%;
  left: 22px;
}

.counter__plus {
  position: absolute;
  z-index: 20;
  top: 35%;
  right: 25px;
}